body {
    font-family: Helvetica, Arial, sans-serif;
}

.button {
    color: purple;
}

.top {
    display: inline;
}

.view-scores {
    color: blueviolet;
    float: left;
}

.time {
    float: right;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

.child-h2 {
    font-weight: bold;
}

.child-p {
    font-size: 20px;
}